.markdown-content h1 {
    font-size: 2rem; /* Ajustez la taille selon vos besoins */
}

.markdown-content h2 {
    font-size: 1.75rem; /* Ajustez la taille selon vos besoins */
}

.markdown-content p {
    font-size: 12px; /* Ajustez la taille selon vos besoins */
}

/* Ajoutez d'autres styles pour les éléments markdown si nécessaire */